form{
  font-size: 0.9rem !important;
}
form input {
  border-radius: 0 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  font-size: 0.8rem !important;
}
form input:focus{
  outline: none !important;
  border-bottom: 1px solid #00ffc8 !important;
}
.isinvalid{
  outline: none !important;
 background-color: #ff0000 !important;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.myalert{
  font-size: 0.8rem;
}